body{font-family:calibri;font-size:14.5;font-style:bold;Margin:AUTO;background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);
	 Background-size:fix; }
      .divcontent{background:transparent; color:#2058c7; padding:4.5%; opacity:80%;font-size:77 auto;}
      .gil1{display:inline-block; margin-left:-3;color:#000; padding:.3%; margin-top:-10px;
            display:flex; position:sticky;letter-spacing:1%;font-size:10px;background:Orange;  <!----linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);-->}
      .gil1>.gil2{border-radius:5em;word-spacing:.5em;box-shadow:2px 0px 3px 0px; }
      .gil1>.gil2>a:hover{color:#4b4e4f;text-decoration:none;background:gold; padding:1; border-radius:3px;}
      a:visited{color:#fff;text-decoration:none; letter-spacing:.4%;}
      a:link{color:white; text-decoration:none;}
	  .gilarea{font-size:23;background:#fff; display:flex;flex-direction:Column; border-radius:5px 5px 5px 5px;}
	  .gilarea:after{flex-direction:column;display:block;}
	  .gilarea1{ margin:5px; padding:2%;background:whitesmoke;cursor:pointer;}
	  .gilarea1:hover{background:#e5e5e5; border-radius:5px 5px 5px 5px;}
	  .gilarea1>img:hover{opacity:90%;}
	  .gilarea1>img{width:100%;height:auto; opacity:90%;}
	 
	 #hide{border:2px solid #d11dd1; padding:4px;border-radius:5px;color:gray; cursor:pointer;
				font-size:12px;}
	  #show{border: 2px solid #d11dd1; padding:4px;border-radius:5px;color:gray;cursor:pointer;
				font-size:12px;}
	  #hide1{border:2px solid #d11dd1; padding:4px;border-radius:5px;color:gray; cursor:pointer;
				font-size:12px;}
	  #show1{border: 2px solid #d11dd1; padding:4px;border-radius:5px;color:gray;cursor:pointer;
				font-size:12px;}



.travelp{color:black;padding 1%;display: flex;margin:2%;}
#traveldiv{ margin:0;border-style: ridge; padding:.5%;background:whitesmoke;font-size:12;}


     

	 .gilresponce{
		 width:800px;
		 margin:50px auto 0;
		 dispaly: table;
		 box-sizing:border-box;
	 }
		.gilrow{
			margin:20px 0;
		}
		.gilcolumn{
			background:#ccc;
			dispaly:table-cell;
			padding:10px;
			width:33.333333%;
			text-align:center;
			color:#fff;
			vertical-align:center;
			border-left:10px solid #fff;
			border-right:10px solid #fff;
		}		
		.gilrow:nth-child(1) .gilcolumn:nth-child(1)
		{
			background:#596270;
		}
		.gilrow:nth-child(1) .gilcolumn:nth-child(2)
		{
			background:#596270;
		}
		.gilrow:nth-child(1) .gilcolumn:nth-child(1)
		{
			background:#596270;
		}
		.gilrow:nth-child(2) .gilcolumn:nth-child(2)
		{
			background:#596270;
		}
		@media (max-width: 900px;)
		{
			.gilresponce{
				margin: 0;
				padding: 10px;
				width:100%;
				 
			}
			.gilcolumn{
				width:100%;
				display:block;
				
				
				
			}
		}

.gilp23{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:15; letter-spacing:.2em;
        background:#fff;display:flex;flex-direction:row;}

	#footergil{display:flex;background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);position:sticky;
        color:#fff; margin-right:-5;margin-left:-5;padding:1%;width:auto; padding:3%; font-family:calibri; letter-spacing:.3em; word-spacing:2em;
        align-item:center;}
      .gilfooter2{ pading:1%;letter-spacing:.3; word-spacing:.3; font-size:11; margin:auto;}
       #gilflex1-2{display:inline-block;display:flex;flex-flow:row wrap; margin:auto; width:100%; background:linear-gradient(to bottom,#fff, #fff, #fff,#fff,#fff); padding:1%;}
.gilh1{letter-spacing:.1em;font-color:Whitesmoke; font-size:30; font-family:krinkes;
  background-image:url("https://thumbs.dreamstime.com/z/soft-blue-light-color-abstract-web-texture-background-design-soft-blue-light-color-abstract-grunge-web-texture-background-167543205.jpg");
	background-repeat:no-repeat;background-attachment: stretch; width:100%; height:auto; padding:5%;margin-top:0;margin-left:0;margin-right:0;}
        .logo{width:150px;height:150px;}
     .gilp1{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:15; letter-spacing:.3em;
        word-spacing:.2em;background:#fff;display:flex;flex-direction:row;}
  .gilp1-2{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:15; letter-spacing:.3em;
        word-spacing:.2em;background-size:auto;background-image:url("https://www.bbva.com/wp-content/uploads/en/2017/10/digital-proccess-mobile-data-resource-bbva.jpg")}
	
		    .gilp1-1{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:11	; letter-spacing:.3em;
        word-spacing:.2em;}
		h3,h1{color:#d11dd1;}
		.img1{Opacity: 70%; border-radius: 10px 5px 0 100px;}
		 .gilp12{max-width:100%; border:auto; padding:1%; margin-left:2;margin-right:6; font-family:calibri;font-size:13; letter-spacing:.3em;
        word-spacing:.2em; background:white; border-radius:5px;}
			.gilp13{background:whitesmoke;border-radius:5px;padding:1%;}
			.gilp13:nth-child{background:#d8d8d9;}
			.gilp12-1{max-width:100%; border:auto; padding:1%; margin-left:4;margin-right:6; font-family:calibri;font-size:23; letter-spacing:.2em;
        word-spacing:.2em; background:white; border-radius:5px; display:flex;}
			.gilp14{background:whitesmoke;border-radius:5px;padding:1%;}
			.gilp14:nth-child{background:#d8d8d9;}
			
			/*------------porfolio--------------*/
			   .gilp4-1{max-width:100%; border:auto; padding:4%; margin-left:0;margin-right:0;font-size:.7em; font-family:calibri;
        word-spacing:.2em;color:#000; display:flex;flex-direction:row;background:#fff;}
				.gilcateg{color:gray;}
				.gilcateg > span{background:; padding:.3%; border-radius:4px;
							font-size:.8em;	cursor:pointer;margin-left:2em;}
							.gilcateg > span:hover{background:#d1d1d1; color:#000;}
		
			/*------------porfolio--------------*/			
			

.gilp10{ border:auto; padding:4%; margin-left:5;margin-right:5; font-family:calibri;font-size:15; }
			
/*----------------------Drop Down menu----------------*/
.dropbtn {
background:transparent;
  color: whitesmoke;
  padding:12px;
  font-size: 13px;
  border:;
  
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);text-decoration:none;color:#fff;
							font-size:10px;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:transparent;
							color:#5ef540;}
/*----------------------Drop Down menu End----------------*/






/*----------------Login css ----------------------------*/



input[type=text],input[type=password]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
center{
font-size:32px;
}
.note{
color:red;
}
.valid{
color:green;
}
.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}
input[type=button]{
font-size: 16px;
background: linear-gradient(red 5%, brown 100%);
border: 1px solid #e5a900;
color: yellow;
font-weight: bold;
cursor: pointer;
width: 100;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
background: linear-gradient(Orange 5%, yellow 100%);
color:red;
}

.scfmain{margin-left:12%;padding:2%;word-spacing:20px;title-color:green;background:whitesmoke;}
.scfmain>a{border-radius:10px;opacity:50%;cursor:pointer;border-radius:1%;}
.scfmain>a>img:hover{background-color:#ddd;border-radius:10px;opacity:100%;cursor:pointer;border-radius:1%;}
.scfmain>img:hover{padding:1%; background:#ddd;border-radius:10px;}





